

.button, a.button
{
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.1em;
 font-weight: 500;
	
	@extend %inlineBlock;
	@extend %shortTransition;
	
	&:hover
	{
		background-color: lighten($primaryColor, 5%);	
	}
		
	i
	{
		margin-right: 10px;	
	}
}

.big-button, a.big-button
{
	@extend .button;
	
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	font-size: 1.3em;
	
	i
	{
		margin: 0 20px 0 -10px;
	}
}